
.sticker {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem 0;
    gap: 0.5rem;
}

.sticker img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    background: black;
}
